.button{
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  min-width: 190px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-transform: uppercase;
  height: 48px;
  text-decoration: none;
  &-accent{
    background-color: var(--accent-color);
    color:var(--white);
    transition: all 0.5s ease;
    &:hover{
      background-color: var(--green);

    }
  }
}
